<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="by.tataranovich.leasingcompany.service.ICarService">

	<insert id="add" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cars (price, car_model_id, car_provider_id)
			VALUES (
				#{price},
				#{carModel, typeHandler=by.tataranovich.leasingcompany.mybatis.CarModelTypeHandler},
				#{carProvider.id}
			)
		]]>
	</insert>

	<sql id="getCar">
		<![CDATA[
			SELECT
			    c.id AS car_id,
				c.price AS car_price,
				c.car_model_id AS car_model_id,
				c.car_provider_id AS car_car_provider_id
				FROM cars c   
		]]>

	</sql>

	<select id="getById" parameterType="java.lang.Long" resultMap="Car">
		<include refid="getCar" />
		<![CDATA[
			WHERE c.id = #{id};
		]]>
	</select>
	
	<select id="getCarByContractId" parameterType="java.lang.Long" resultMap="Car">
		<include refid="getCar" />
		<![CDATA[
		   LEFT JOIN contracts co ON co.сar_id=c.id 
			WHERE co.id = #{id};
		]]>
	</select>
	


	<select id="getAll" resultMap="Car">
		<include refid="getCar" />
	</select>

	<update id="update">
		<![CDATA[
        	UPDATE
        		cars
          	SET
          		price = #{name},
				car_model_id = #{carModel, typeHandler=by.tataranovich.leasingcompany.mybatis.CarModelTypeHandler}
          	WHERE
			 	ID = #{id}
        ]]>
	</update>

	<delete id="delete">
        <![CDATA[
        	DELETE
          	FROM 
          		cars
          	WHERE
          		id = #{id}
        ]]>
	</delete>

	<resultMap type="by.tataranovich.leasingcompany.model.Car"
		id="Car" autoMapping="false">
		<id column="car_id" property="id" />
		<result column="car_price" property="price" />
		<association property="carModel" column="car_model_id"
			javaType="by.tataranovich.leasingcompany.model.CarModel" />
		<association property="carProvider" column="car_car_provider_id"
			javaType="by.tataranovich.leasingcompany.model.CarProvider" select="by.tataranovich.leasingcompany.service.ICarProviderService.getCarProviderByCarId"
			fetchType="eager" />
	</resultMap>

</mapper>
