<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="by.tataranovich.leasingcompany.dao.IContractDAO">

	<insert id="add" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO contarcts (date, client_id, car_id, leasing_programm_id, credit_id)
			VALUES (
				#{date},
				#{client.id},
				#{car.id},
				#{leasingProgramm.id},
				#{credit.id}
			)
		]]>
	</insert>

	<sql id="getContract">
		<![CDATA[
			SELECT
			    ct.id AS contcact_id,
			    ct.date AS contcact_date,
			    ct.client_id AS contract_client_id,
				ct.car_id AS contract_car_id,
				ct.leasing_programm_id AS contract_leasing_programm_id,
				ct.credit_id AS contract_credit_id
				FROM contracts ct   
		]]>

	</sql>

	<select id="getById" parameterType="java.lang.Long" resultMap="Contract">
		<include refid="getContract" />
		<![CDATA[
			WHERE c.id = #{id};
		]]>
	</select>
	
		<select id="getContractById" parameterType="java.lang.Long" resultMap="Car">
		<include refid="getContract" />
		<![CDATA[
			WHERE c.id = #{id};
		]]>
	</select>

	<select id="getAll" resultMap="Contact">
		<include refid="getCar" />
	</select>

	<update id="update">
		<![CDATA[
        	UPDATE
        		contracts
          	SET
          		date = #{date},
          		client_id = #{client.id},
				car_id = #{car.id},				
				leasing_programm_id = #{leasingProgramm.id},
				credit_id = #{credit.id},
          	WHERE
			 	id = #{id}
        ]]>
	</update>

	<delete id="delete">
        <![CDATA[
        	DELETE
          	FROM 
          		contracts
          	WHERE
          		id = #{id}
        ]]>
	</delete>

	<resultMap type="by.tataranovich.leasingcompany.model.Contract"
		id="Contract" autoMapping="false">
		<id column="contract_id" property="id" />
		<result column="date" property="date" />
		<association property="car" column="contract_client_id"
			javaType="by.tataranovich.leasingcompany.model.Client"
			select="by.tataranovich.leasingcompany.dao.IClientDAO.getClientByContractId"
			fetchType="eager" />
		<association property="car" column="contract_client_id"
			javaType="by.tataranovich.leasingcompany.model.Car"
			select="by.tataranovich.leasingcompany.dao.ICarDAO.getCarByContractId"
			fetchType="eager" />
		<association property="leasingProgramm" column="contract_leasing_programm_id"
			javaType="by.tataranovich.leasingcompany.model.LeasingProgramm"
			select="by.tataranovich.leasingcompany.dao.ILeasingProgrammDAO.getLeasingProgrammByContractId"
			fetchType="eager" />
		<association property="credit" column="contract_credit_id"
			javaType="by.tataranovich.leasingcompany.model.Credit"
			select="by.tataranovich.leasingcompany.dao.ILeasingProgrammDAO.getCreditByContractId"
			fetchType="eager" />
	</resultMap>

</mapper>
