<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="by.tataranovich.leasingcompany.dao.IContractDAO">

	<insert id="add" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO contarcts (date, client_id, car_id, leasing_programm_id, credit_id)
			VALUES (
				#{date},
				#{client.id},
				#{car.id},
				#{leasingProgramm.id},
				#{credit.id}
			)
		]]>
	</insert>

	<sql id="getContract">
		<![CDATA[
			SELECT
			    ct.id AS contcact_date,
			    ct.client_id AS contract_client_id,
				ct.price AS car_price,
				ct.car_model_id AS car_model_id,
				ct.car_provider_id AS car_provider_id
				FROM contarcts ct   
		]]>

	</sql>

	<select id="getById" parameterType="java.lang.Long" resultMap="Car">
		<include refid="getCar" />
		<![CDATA[
			WHERE c.id = #{id};
		]]>
	</select>

	<select id="getAll" resultMap="Car">
		<include refid="getCar" />
	</select>

	<update id="update">
		<![CDATA[
        	UPDATE
        		contracts
          	SET
          		date = #{date},
				car_model_id = #{carModel, typeHandler=by.tataranovich.leasingcompany.mybatis.CarModelTypeHandler}
          	WHERE
			 	id = #{id}
        ]]>
	</update>

	<delete id="delete">
        <![CDATA[
        	DELETE
          	FROM 
          		contracts
          	WHERE
          		id = #{id}
        ]]>
	</delete>

	<resultMap type="by.tataranovich.leasingcompany.model.Contarct"
		id="Car" autoMapping="false">
		<id column="car_id" property="id" />
		<result column="car_price" property="price" />
		<association property="carModel" column="car_model_id"
			javaType="by.tataranovich.leasingcompany.model.CarModel" />
		<association property="carProvider" column="car_provider_id"
			javaType="by.tataranovich.leasingcompany.model.CarProvider" select="by.tataranovich.leasingcompany.dao.ICarProviderDAO.getById"
			fetchType="eager" />
	</resultMap>

</mapper>
